.pieNosotros {
	list-style: none;
	color: $color_1;
	text-decoration: none;
}
.pieInformacion {
	list-style: none;
	color: $color_1;
	text-decoration: none;
}
.pieCentroDeAtencion {
	list-style: none;
	color: $color_1;
	text-decoration: none;
	a {
		list-style: none;
		color: $color_1;
		text-decoration: none;
	}
}
.derechosReservados {
	color: $color_1;
	text-align: center;
}